@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --background-color: #0D0D0D;
  --primary-color: #66D99B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}